.ipynb_checkpoints
hello.*
a.x
a.out
OpenMP/hello_world
OpenMP/hello_world.c
OpenMP/hello_world.exe
OpenMP/hello_world.f90
*.exe
*.cl
*.py
*.cu
*.c
*.f90
GPU/hello
GPU/hello_CL
GPU/hello_CL_exercise
GPU/hello_cuda
GPU/hello_cuda_C
GPU/hello_cuda_exercise
GPU/riemann_cuda_double
GPU/riemann_cuda_double_reduce
GPU/riemann_opencl_double
GPU/riemann_opencl_double_reduce
GPU/riemann_openmp_cpu
GPU/vector_add_cpu
GPU/vector_add_cuda
GPU/vector_add_opencl
MPI/hello_world
OpenMP/exercise
OpenMP/solution
OpenMP/vector_add
GPU/riemann_cpu_double
GPU/riemann_cpu_double_o3
OpenMP/clauses
OpenMP/example1
OpenMP/example2
OpenMP/fibonacci
OpenMP/forloop
OpenMP/reduction
OpenMP/scope
OpenMP/sections
OpenMP/single
OpenMP/task
OpenMP/traverse
hello_world
test_Q1
test_Q4
test_Q5
w2_test_Q1
MPI/hello-world
MPI/bcast
MPI/gather
MPI/hello
MPI/pi
MPI/ping
MPI/reduce
MPI/ring


